In [1]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Create a dataframe to hold the above results

In [2]:
import pandas as pd
import numpy as np
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
school_data_df.head()
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
school_data_df ["Ave.Per Student"] = school_data_df["budget"] /school_data_df["size"]
# passing_in_math_df = school_data_complete_df[school_data_complete_df["math_score"] > 70]
# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
passing_in_math_df = student_data_df[student_data_df["math_score"] > 70]
passing_in_math_df.count()[0]
# passing_in_math_df['difference']=school_data_df.loc['size'] - passing_in_math_df['Student ID'].count()

28356

In [4]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df['All Math Count']=school_data_complete_df['Student ID']
school_data_complete_df.groupby(["school_name"]).mean()
school_data_complete_df['Math Count pass']=school_data_complete_df['All Math Count']-passing_in_math_df['Student ID'].count()
school_data_complete_df['Final Passing']=school_data_complete_df['All Math Count']-school_data_complete_df['Math Count pass']
school_data_complete_df.groupby(["school_name"])

In [5]:
all_groups_df=school_data_complete_df.groupby(["school_name"])
total = all_groups_df[all_groups_df["math_score"] >70]

TypeError: '>' not supported between instances of 'SeriesGroupBy' and 'int'

In [8]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df["math_score"]

0        79
1        61
2        60
3        58
4        84
5        94
6        80
7        69
8        87
9        84
10       70
11       77
12       79
13       79
14       67
15       88
16       55
17       75
18       69
19       80
20       89
21       77
22       84
23       68
24       73
25       70
26       85
27       58
28       55
29       88
         ..
39140    99
39141    93
39142    83
39143    93
39144    87
39145    74
39146    95
39147    81
39148    89
39149    93
39150    75
39151    73
39152    84
39153    75
39154    71
39155    98
39156    95
39157    94
39158    90
39159    72
39160    86
39161    84
39162    77
39163    75
39164    76
39165    90
39166    70
39167    84
39168    90
39169    75
Name: math_score, Length: 39170, dtype: int64

In [27]:

# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df['Math Count all']=school_data_complete_df['Student ID']
# school_data_complete_df['Math Count pass']=passing_in_math_df['Student ID']
# # school_data_complete_df['Final Passing']=school_data_complete_df['Math Count2']/school_data_complete_df['Math Count']
# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df.groupby(["school_name"]).mean()

In [ ]:



# passing_in_math_df = school_data_complete_df[school_data_complete_df["math_score"] > 70]
# school_data_complete_df['passing_math']=passing_in_math_df.count()
# # school_data_complete_df.groupby(["school_name"])

In [ ]:
# school_data_complete_df['Percent Passing Math']=school_data_complete_df['Student ID'].count() - passing_in_math_df['Student ID'].count()

In [ ]:
# df['passing_math']=df['math_score']/all_df['size']
# # all_df=all_df.groupby(["school_name"])

In [ ]:
# all_df.mean()