In [81]:
import pandas as pd
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)

In [82]:
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [83]:
school_data_complete_df=school_data_complete
school_groups=school_data_complete_df["school_name"].value_counts()
school_groups.head()
school_df =school_data_complete_df.groupby(["school_name"])

In [97]:
school_df.mean()
average_passing_rate=(student_data_df["math_score"].sum() + student_data_df["reading_score"].sum())/2

In [98]:
top_school_df=top_school
top_school_df.head(5)

school_name
Bailey High School      99
Cabrera High School     99
Figueroa High School    99
Ford High School        99
Griffin High School     99
Name: math_score, dtype: int64

In [93]:
school_count=school_data_df["School ID"].count()
school_type=school_data_df["type"].count()
total_students=school_data_df["size"].sum()
total_budget=school_data_df["budget"].sum()
average_m_score=student_data_df["math_score"].mean()
average_a_score=student_data_df["reading_score"].mean()
average_passing_rate=(student_data_df["math_score"].mean() + student_data_df["reading_score"].mean())/2

In [87]:
summary_table=pd.DataFrame({"Total Schools":[school_count],
                                    "Total Students": [total_students],
                                    "Total Budget": [total_budget],
                                    "Average Math Score":[average_m_score],
                                    "Average Reading Score":[average_a_score],
                                     "% Passing Math":[1],
                                     "% Passing Reading":[2],
                                    "% Overall Passing Rate":[average_passing_rate]})

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,1,2,80.431606