In [1]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting

In [2]:
import pandas as pd
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
# school_data_df.head()

In [14]:
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [15]:
# # Calculate the total number of schools
school_count=school_data_df["School ID"].count()
total_students=school_data_df["size"].sum()
total_budget=school_data_df["budget"].sum()
average_m_score=student_data_df["math_score"].mean()
average_a_score=student_data_df["reading_score"].mean()
average_passing_rate=(student_data_df["math_score"].mean() + student_data_df["reading_score"].mean())/2

In [16]:
math_score_df=student_data_df["math_score"]>=70
reading_score_df=student_data_df["reading_score"]>=70

In [17]:
math_score_df.value_counts()
reading_score_df.value_counts()

True     33610
False     5560
Name: reading_score, dtype: int64

In [18]:
math_score1=math_score_df[math_score_df==True].count().sum()
reading_score1=reading_score_df[reading_score_df==True].count().sum()
math_score1=((math_score1)/(total_students).sum())*100
reading_score1=((reading_score1)/(total_students).sum())*100

In [19]:
district_summary_table=pd.DataFrame({"Total Schools":[school_count],
                                    "Total Students": [total_students],
                                    "Total Budget": [total_budget],
                                    "Average Math Score":[average_m_score],
                                    "Average Reading Score":[average_a_score],
                                     "% Passing Math":[math_score1],
                                     "% Passing Reading":[reading_score1],
                                    "% Overall Passing Rate":[average_passing_rate]})

In [20]:
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

In [3]:
#  Establish the bins
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
# Categorize the spending based on the bins
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

NameError: name 'per_school_capita' is not defined