In [ ]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting

In [1]:
import pandas as pd
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [213]:
# # Calculate the total number of schools
school_count=school_data_df["School ID"].count()
total_students=school_data_df["size"].sum()
total_budget=school_data_df["budget"].sum()
average_m_score=student_data_df["math_score"].mean()
average_a_score=student_data_df["reading_score"].mean()
average_passing_rate=(student_data_df["math_score"].mean() + student_data_df["reading_score"].mean())/2

In [214]:
count_passing_math=student_data_df["math_score"]>=70
math_score_df=student_data_df["math_score"]>=70
math_score_df

0         True
1        False
2        False
3        False
4         True
5         True
6         True
7        False
8         True
9         True
10        True
11        True
12        True
13        True
14       False
15        True
16       False
17        True
18       False
19        True
20        True
21        True
22        True
23       False
24        True
25        True
26        True
27       False
28       False
29        True
         ...
39140     True
39141     True
39142     True
39143     True
39144     True
39145     True
39146     True
39147     True
39148     True
39149     True
39150     True
39151     True
39152     True
39153     True
39154     True
39155     True
39156     True
39157     True
39158     True
39159     True
39160     True
39161     True
39162     True
39163     True
39164     True
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool

In [215]:
math_score_df.value_counts()

True     29370
False     9800
Name: math_score, dtype: int64

In [216]:
math_score1=math_score_df[math_score_df==True].count().sum()

In [220]:
math_score1=((math_score)/(total_students).sum())*100

In [221]:
district_summary_table=pd.DataFrame({"Total Schools":[school_count],
                                    "Total Students": [total_students],
                                    "Total Budget": [total_budget],
                                    "Average Math Score":[average_m_score],
                                    "Average Reading Score":[average_a_score],
                                     "% Passing Math":[math_score1],
                                     "% Passing Reading":[2],
                                    "% Overall Passing Rate":[average_passing_rate]})

In [222]:
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,2,80.431606