In [344]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Create a dataframe to hold the above results

In [345]:
import pandas as pd
import numpy as np
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [346]:
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
school_data_df ["Ave.Per Student"] = school_data_df["budget"] /school_data_df["size"]
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Ave.Per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0

In [347]:
school_data_complete_df.head()
school_groups=school_data_complete_df["school_name"].value_counts()
school_groups.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [348]:
school_df =school_data_complete_df.groupby(["school_name"])
print(school_df)
school_df.count().head(5)
budget_df=school_df["budget"].value_counts()
budget_df

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000016BE3866978>

school_name            budget
Bailey High School     3124928    4976
Cabrera High School    1081356    1858
Figueroa High School   1884411    2949
Ford High School       1763916    2739
Griffin High School    917500     1468
Hernandez High School  3022020    4635
Holden High School     248087      427
Huang High School      1910635    2917
Johnson High School    3094650    4761
Pena High School       585858      962
Rodriguez High School  2547363    3999
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Wilson High School     1319574    2283
Wright High School     1049400    1800
Name: budget, dtype: int64

In [349]:
ave_df=school_df["Ave.Per Student"].value_counts()
ave_df
# grouped_size=grouped_school_groups_df["size"].value_counts()

school_name            Ave.Per Student
Bailey High School     628.0              4976
Cabrera High School    582.0              1858
Figueroa High School   639.0              2949
Ford High School       644.0              2739
Griffin High School    625.0              1468
Hernandez High School  652.0              4635
Holden High School     581.0               427
Huang High School      655.0              2917
Johnson High School    650.0              4761
Pena High School       609.0               962
Rodriguez High School  637.0              3999
Shelton High School    600.0              1761
Thomas High School     638.0              1635
Wilson High School     578.0              2283
Wright High School     583.0              1800
Name: Ave.Per Student, dtype: int64

In [350]:
size_df=school_df["size"].value_counts()
type_df=school_df["type"].value_counts()

In [351]:
school_data_complete_df["ave_reading"]=school_data_complete_df["reading_score"].sum()/school_data_complete_df["size"]
school_data_complete_df["ave_math"]=school_data_complete_df["math_score"].sum()/school_data_complete_df["size"]

In [352]:
math_df=school_data_complete_df["ave_math"].value_counts()
read_df=school_data_complete_df["ave_reading"].value_counts()
math_df=school_df["ave_math"].value_counts()
read_df=school_df["ave_reading"].value_counts()

In [353]:
dataframes=[school_df,type_df, budget_df, ave_df, size_df, read_df, math_df]

In [371]:
dataframes[1]

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: type, dtype: int64

In [374]:
df1=[school_df]
df2=[type_df]
df3=[budget_df]
df4=[ave_df]
df5=[size_df]
df6=[read_df]
df7=[math_df]

TypeError: list indices must be integers or slices, not str