In [1]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Create a dataframe to hold the above results

In [293]:
import pandas as pd
import numpy as np
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
# school_data_df.head()

In [294]:
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
school_data_df ["Ave.Per Student"] = school_data_df["budget"] /school_data_df["size"]
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [295]:
type_columns_df=school_data_complete_df.loc[:, ['school_name','type','School ID']]

In [296]:
passing_in_math_df = school_data_complete_df[school_data_complete_df["math_score"] > 70]
passing_in_math_df=passing_in_math_df[passing_in_math_df==True].count().sum()
passing_in_math_df

1880

In [297]:
all_df=school_data_complete_df.loc[:, ['school_name','size','type','School ID','reading_score', 'math_score', 'budget','Ave.Per Student']]

In [298]:
all_df= all_df[all_df["math_score"]  > 70]
all_df['passing_math']=all_df['math_score']/all_df['size']
all_df=all_df.groupby(["school_name"])

In [299]:
all_df.mean()

,size,School ID,reading_score,math_score,budget,Ave.Per Student,passing_math
school_name,,,,,,,
Bailey High School,4976.0,7.0,80.960199,84.965174,3124928.0,628.0,0.017075
Cabrera High School,1858.0,6.0,83.942909,84.686298,1081356.0,582.0,0.045579
Figueroa High School,2949.0,1.0,81.148404,84.813298,1884411.0,639.0,0.028760
Ford High School,2739.0,13.0,80.927263,84.716269,1763916.0,644.0,0.030930
Griffin High School,1468.0,4.0,83.791192,84.984814,917500.0,625.0,0.057892
Hernandez High School,4635.0,3.0,80.826724,85.399867,3022020.0,652.0,0.018425
Holden High School,427.0,8.0,83.865633,85.351421,248087.0,581.0,0.199886
Huang High School,2917.0,0.0,81.122902,84.772063,1910635.0,655.0,0.029061
Johnson High School,4761.0,12.0,80.821053,85.251645,3094650.0,650.0,0.017906
Pena High School,962.0,9.0,84.103175,85.187075,585858.0,609.0,0.088552
Rodriguez High School,3999.0,11.0,80.557377,84.854020,2547363.0,637.0,0.021219
Shelton High School,1761.0,2.0,83.613392,84.960202,1056600.0,600.0,0.048245
Thomas High School,1635.0,14.0,83.896271,84.989153,1043130.0,638.0,0.051981
Wilson High School,2283.0,5.0,84.047688,84.703757,1319574.0,578.0,0.037102
Wright High School,1800.0,10.0,83.905231,85.258462,1049400.0,583.0,0.047366

TypeError: 'DataFrameGroupBy' object does not support item assignment