In [ ]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Create a dataframe to hold the above results

In [23]:
import pandas as pd
import numpy as np
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
school_data_df.head()
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [37]:
school_data_df ["Ave.Per Student"] = school_data_df["budget"] /school_data_df["size"]
# passing_in_math_df = school_data_complete_df[school_data_complete_df["math_score"] > 70]
# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
passing_in_math_df = student_data_df[student_data_df["math_score"] > 70]
# passing_in_math_df['difference']=school_data_df.loc['size'] - passing_in_math_df['Student ID'].count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
26,26,Melanie Decker,F,9th,Huang High School,63,85
29,29,Nicole Brown,F,12th,Huang High School,90,88
30,30,Bobby Harris,M,9th,Huang High School,94,99
32,32,Candace Phelps,F,11th,Huang High School,93,90
34,34,Steven Green,M,11th,Huang High School,65,74
36,36,Kevin Bailey,M,10th,Huang High School,76,76
38,38,Kimberly Mercado,F,12th,Huang High School,73,77
41,41,Jennifer Parks,F,11th,Huang High School,85,95
42,42,John Carlson,M,9th,Huang High School,65,89
43,43,Megan Roberts,F,9th,Huang High School,66,90
45,45,Heidi Jackson,F,11th,Huang High School,64,93
47,47,Ellen Brown,F,11th,Huang High School,77,81
49,49,Natalie Mitchell,F,10th,Huang High School,73,93
50,50,Tiffany Gutierrez,F,10th,Huang High School,82,95
...,...,...,...,...,...,...,...
39139,39139,Catherine Lee,F,9th,Thomas High School,83,81
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [59]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df['Math Count all']=school_data_complete_df['Student ID']
school_data_complete_df['Math Count pass']=school_data_complete_df['Math Count all']-passing_in_math_df['Student ID'].count()
school_data_complete_df['Final Passing']=school_data_complete_df['Math Count all']-school_data_complete_df['Math Count pass'].count()
school_data_complete_df['Final Final']=school_data_complete_df['Final Passing']/school_data_complete_df['Math Count pass']
# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.groupby(["school_name"]).mean()

,Student ID,reading_score,math_score,School ID,size,budget,Ave.Per Student,Math Count all,Math Count pass,Final Passing,Final Final
school_name,,,,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,628.0,20358.5,-7997.5,-18811.5,2.398517
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,582.0,16941.5,-11414.5,-22228.5,1.949492
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,639.0,4391.0,-23965.0,-34779.0,1.451812
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,644.0,36165.0,7809.0,-3005.0,-0.399277
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,625.0,12995.5,-15360.5,-26174.5,1.704550
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,652.0,9944.0,-18412.0,-29226.0,1.590466
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0,581.0,23060.0,-5296.0,-16110.0,3.043026
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,655.0,1458.0,-26898.0,-37712.0,1.402432
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,650.0,32415.0,4059.0,-6755.0,-2.053973
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0,609.0,23754.5,-4601.5,-15415.5,3.358719
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,637.0,28035.0,-321.0,-11135.0,-inf
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,600.0,6746.0,-21610.0,-32424.0,1.500694
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,638.0,38352.0,9996.0,-818.0,-0.084254
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,578.0,14871.0,-13485.0,-24299.0,1.803852
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,583.0,25135.5,-3220.5,-14034.5,4.449617

In [48]:

# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df['Math Count all']=school_data_complete_df['Student ID']
# school_data_complete_df['Math Count pass']=passing_in_math_df['Student ID']
# # school_data_complete_df['Final Passing']=school_data_complete_df['Math Count2']/school_data_complete_df['Math Count']
# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df.groupby(["school_name"]).mean()

Student ID         1.958450e+04
reading_score      8.187784e+01
math_score         7.898537e+01
School ID          6.978172e+00
size               3.332957e+03
budget             2.117241e+06
Ave.Per Student    6.292935e+02
Math Count all     1.958450e+04
dtype: float64

In [ ]:



# passing_in_math_df = school_data_complete_df[school_data_complete_df["math_score"] > 70]
# school_data_complete_df['passing_math']=passing_in_math_df.count()
# # school_data_complete_df.groupby(["school_name"])

In [ ]:
# school_data_complete_df['Percent Passing Math']=school_data_complete_df['Student ID'].count() - passing_in_math_df['Student ID'].count()

In [ ]:
# df['passing_math']=df['math_score']/all_df['size']
# # all_df=all_df.groupby(["school_name"])

In [ ]:
# all_df.mean()