In [ ]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Create a dataframe to hold the above results

In [335]:
import pandas as pd
import numpy as np
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
school_data_df.head()
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [398]:
final_df=school_data_complete_df.mean()

In [336]:
passing_in_math_df = school_data_complete_df[student_data_df["math_score"] > 70]

In [337]:
passing_in_reading_df = school_data_complete_df[student_data_df["reading_score"] > 70]

In [338]:
percent_math_df=passing_in_math_df["school_name"].value_counts()

In [339]:
percent_reading_df=passing_in_reading_df["school_name"].value_counts()

In [340]:
counts_school_data_df=school_data_complete_df["school_name"].value_counts()

In [341]:
students_passing_math_by_school=(passing_in_math_df.groupby("school_name").count()["Student ID"]/counts_school_data_df)*100
students_passing_math_by_school_df=students_passing_math_by_school
students_passing_math_by_school_df

Bailey High School       64.630225
Cabrera High School      89.558665
Figueroa High School     63.750424
Ford High School         65.753925
Griffin High School      89.713896
Hernandez High School    64.746494
Holden High School       90.632319
Huang High School        63.318478
Johnson High School      63.852132
Pena High School         91.683992
Rodriguez High School    64.066017
Shelton High School      89.892107
Thomas High School       90.214067
Wilson High School       90.932983
Wright High School       90.277778
dtype: float64

In [342]:
students_passing_reading_by_school=(passing_in_reading_df.groupby("school_name").count()["Student ID"]/counts_school_data_df)*100
students_passing_reading_by_school_df=students_passing_reading_by_school

In [420]:
print(type(final_merge_df))

<class 'pandas.core.frame.DataFrame'>

In [425]:
students_passing_math_by_school_df
counts_school_data_df
students_passing_reading_by_school_df
final_merge_df=final_df
final_merge_df

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

school_name            school_name
Bailey High School     Bailey High School       4976
Cabrera High School    Cabrera High School      1858
Figueroa High School   Figueroa High School     2949
Ford High School       Ford High School         2739
Griffin High School    Griffin High School      1468
Hernandez High School  Hernandez High School    4635
Holden High School     Holden High School        427
Huang High School      Huang High School        2917
Johnson High School    Johnson High School      4761
Pena High School       Pena High School          962
Rodriguez High School  Rodriguez High School    3999
Shelton High School    Shelton High School      1761
Thomas High School     Thomas High School       1635
Wilson High School     Wilson High School       2283
Wright High School     Wright High School       1800
Name: school_name, dtype: int64

In [426]:
counts_school_data_df = pd.merge(students_passing_math_by_school_df, students_passing_reading_by_school_df, how="left", on=["school_name", "school_name"])

ValueError: Cannot merge a Series without a name

In [427]:
new_df = pd.merge(students_passing_math_by_school_df, students_passing_reading_by_school_df, how='outer', left_on=["school_name", "school_name"], right_on=["school_name", "school_name"])

ValueError: Cannot merge a Series without a name

In [27]:

# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df['Math Count all']=school_data_complete_df['Student ID']
# school_data_complete_df['Math Count pass']=passing_in_math_df['Student ID']
# # school_data_complete_df['Final Passing']=school_data_complete_df['Math Count2']/school_data_complete_df['Math Count']
# school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df.groupby(["school_name"]).mean()

In [ ]:



# passing_in_math_df = school_data_complete_df[school_data_complete_df["math_score"] > 70]
# school_data_complete_df['passing_math']=passing_in_math_df.count()
# # school_data_complete_df.groupby(["school_name"])

In [ ]:
# school_data_complete_df['Percent Passing Math']=school_data_complete_df['Student ID'].count() - passing_in_math_df['Student ID'].count()

In [ ]:
# df['passing_math']=df['math_score']/all_df['size']
# # all_df=all_df.groupby(["school_name"])

In [ ]:
# all_df.mean()