In [1]:
import pandas as pd
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)

In [8]:
school_data_complete = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [46]:
school_data_complete_df=school_data_complete[["grade","math_score","school_name"]]
# school_groups=school_data_complete_df["school_name"].value_counts()
school_df=school_data_complete_df.groupby(["grade"])

In [47]:
school_df.count()

       math_score  school_name
grade
10th        10168        10168
11th         9695         9695
12th         7899         7899
9th         11408        11408

In [16]:
math_summary_table=pd.DataFrame({"Total Schools":[school_name],                       
                                    "Average Math Score":[math_score]})

NameError: name 'school_name' is not defined