In [344]:
# Create an overview table that summarizes key metrics about each school, including:
# School Name
# School Type
# Total Students
# Total School Budget
# Per Student Budget
# Average Math Score
# Average Reading Score
# % Passing Math
# % Passing Reading
# Overall Passing Rate (Average of the above two)
# Create a dataframe to hold the above results

In [396]:
import pandas as pd
import numpy as np
school_data = "Resources/schools_complete.csv"
school_data_df=pd.read_csv(school_data)
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [397]:
student_data = "Resources/students_complete.csv"
student_data_df=pd.read_csv(student_data)
school_data_df ["Ave.Per Student"] = school_data_df["budget"] /school_data_df["size"]
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Ave.Per Student
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0

In [398]:
school_data_complete_df.head()
school_groups=school_data_complete_df["school_name"].value_counts()
school_groups.head()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [508]:
school_df =school_data_complete_df.groupby(["school_name"])
school_comparison_df = school_df.mean()
school_comparison_df

,Student ID,reading_score,math_score,School ID,size,budget,Ave.Per Student
school_name,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,628.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,582.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,639.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,644.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,625.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,652.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0,581.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,655.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0,609.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,637.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,638.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,578.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,583.0

In [531]:
type_df=school_df ["type"].value_counts()
type_pd=pd.DataFrame(["district", "charter"])
school_pd=school_comparison_df
school_pd

,Student ID,reading_score,math_score,School ID,size,budget,Ave.Per Student
school_name,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,628.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,582.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,639.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,644.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,625.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,652.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0,581.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,655.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0,609.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,637.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,638.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,578.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,583.0

In [534]:
school_group = school_data_complete_df.groupby("school_name", as_index=False).mean()

In [401]:
# school_df =school_data_complete_df.groupby(["school_name"])
# print(school_df)
# school_df.count().head(5)
# budget_df=school_df["budget"].value_counts()
# budget_df

In [402]:
# ave_df=school_df["Ave.Per Student"].value_counts()
# ave_df
# # grouped_size=grouped_school_groups_df["size"].value_counts()

In [403]:
# size_df=school_df["size"].value_counts()
# type_df=school_df["type"].value_counts()

In [404]:
# school_data_complete_df["ave_reading"]=school_data_complete_df["reading_score"].sum()/school_data_complete_df["size"]
# school_data_complete_df["ave_math"]=school_data_complete_df["math_score"].sum()/school_data_complete_df["size"]

In [405]:
# math_df=school_data_complete_df["ave_math"].value_counts()
# read_df=school_data_complete_df["ave_reading"].value_counts()
# math_df=school_df["ave_math"].value_counts()
# read_df=school_df["ave_reading"].value_counts()

In [406]:
# dataframes=[school_df,type_df, budget_df, ave_df, size_df, read_df, math_df]

In [407]:
dataframes[1]

school_name            type
Bailey High School     District    4976
Cabrera High School    Charter     1858
Figueroa High School   District    2949
Ford High School       District    2739
Griffin High School    Charter     1468
Hernandez High School  District    4635
Holden High School     Charter      427
Huang High School      District    2917
Johnson High School    District    4761
Pena High School       Charter      962
Rodriguez High School  District    3999
Shelton High School    Charter     1761
Thomas High School     Charter     1635
Wilson High School     Charter     2283
Wright High School     Charter     1800
Name: type, dtype: int64

In [374]:
# df1=[school_df]
# df2=[type_df]
# df3=[budget_df]
# df4=[ave_df]
# df5=[size_df]
# df6=[read_df]
# df7=[math_df]